
.t-1{
    width: 1000px; margin: 100px auto;
    border: 1px solid #000;
    border-collapse: collapse;
}


.t-1 caption{
    font-size: 3rem;
    text-align: left;
}
.t-1 th, .t-1 td{
    border: 1px solid #000; 
    padding: 40px;
    font-size: 2rem;
}


.border{
    width: 1000px;
    margin: 100px auto;
    border-collapse: collapse;
}
.border caption{
    font-size: 2rem;
    border-bottom: 1px solid #000;
    padding: 30px 0;
}
.border thead{background-color: antiquewhite;}
.border th,
.border td{
    padding: 20px;
    border-bottom: 1px solid #000;
    text-align: center;
}

.border td:nth-of-type(2){text-align: left;}
.border tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}